.title-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 940;
  overflow: auto;
  overflow-y: scroll;
}

.title {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 950;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subtitle-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 940;
  overflow: auto;
  overflow-y: scroll;
}

.subtitle {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  z-index: 950;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.tsld-resume {
  margin-top: 14px;
}

.tsld-resume:focus {
    outline: none;
}
