svg {
    color: rgba(0,0,0,1);
}

div.svg.intro .entry rect {
  stroke: #333;
  fill: white;
  shape-rendering: crispEdges;
}

div.svg.intro {
  font-family: Courier New;
  font-size: 16px;
}

div.svg.intro .entry text.id, div.svg.intro .entry text.label {
  text-anchor: middle;
}

div.svg.intro text.value {
  font-weight: bold;
  text-anchor: middle;
}
